In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# pd.set_option('display.max_colwidth', -1)
# pd.set_option('display.max_columns', None)
# #pd.options.display.float_format = '{:.2f}'.format

In [2]:
# The path to our CSV files
constructioncsv = "Issued_Construction_Permits.csv"

# Read our csvfiles data into pandas
constructionPermit_df = pd.read_csv(constructioncsv)

C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (22,23,24,25,27,28,29,30,31,32,33,34,35,36,38,53,54,56,58,59,60,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
constructionpermit2_df = constructionPermit_df.loc[constructionPermit_df["CalendarYearIssued"]>=1996,:]

In [4]:
residential_df = constructionpermit2_df.loc[constructionpermit2_df["PermitClassMapped"]=="Residential",:]
commercial_df = constructionpermit2_df.loc[constructionpermit2_df["PermitClassMapped"]=="Commercial",:]

In [5]:
comm_residential_df1 = commercial_df.loc[commercial_df["PermitClass"]=="C- 101 Single Family Houses",:]
overall_residential_df = residential_df.append(comm_residential_df1, ignore_index=True)

In [6]:
overall_residential_BP = overall_residential_df.loc[overall_residential_df["PermitType"]=="BP",:]
overall_residential_BP["TotalJobValuation"] = overall_residential_BP["TotalJobValuation"].str.replace('$','')
overall_residential_BP["TotalJobValuation"] = overall_residential_BP["TotalJobValuation"].str.replace(',','')
overall_residential_BP["TotalValuationRemodel"] = overall_residential_BP["TotalValuationRemodel"].str.replace('$','')
overall_residential_BP["TotalValuationRemodel"] = overall_residential_BP["TotalValuationRemodel"].str.replace(',','')
overall_residential_BP["TotalJobValuation"].fillna(0.00, inplace=True)
overall_residential_BP["TotalValuationRemodel"].fillna(0.00, inplace=True)
overall_residential_BP['TotalJobValuation'] = overall_residential_BP['TotalJobValuation'].apply(pd.to_numeric)
overall_residential_BP['TotalValuationRemodel'] = overall_residential_BP['TotalValuationRemodel'].apply(pd.to_numeric)

C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\pandas\core\generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# checkpoint

In [7]:
residential_BP = overall_residential_BP
residential_BP['Issuedmonth'] = pd.DatetimeIndex(residential_BP['IssuedDate']).month

C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [8]:
residential_BP['OverallStatus'] = np.where(residential_BP['StatusCurrent'] == "Final", "Complete", np.where(residential_BP['StatusCurrent'] == "Active", "Current", "Invalid"))
residential_BP['New_Remodel'] = np.where(residential_BP['WorkClass'] == "New", "New","Remodel_Repair")

C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

# checkpoint 2

In [9]:
residential_condensed = residential_BP[['PermitType', 'PermitTypeDesc', 'PermitNum', 'PermitClassMapped',
       'PermitClass', 'WorkClass', 'ProjectName', 'Description',
       'TCAD_ID', 'PropertyLegalDescription', 'IssuedDate',
       'CalendarYearIssued', 'StatusCurrent', 'StatusDate',
       'ExpiresDate', 'CompletedDate', 'TotalExistingBldgSQFT',
       'RemodelRepairSQFT', 'TotalNewAddSQFT', 'TotalValuationRemodel',
       'TotalJobValuation', 'NumberOfFloors', 'HousingUnits',
       'OriginalAddress1', 'OriginalCity', 'OriginalState', 'OriginalZip', 'Location','Issuedmonth',
       'OverallStatus','New_Remodel']]

In [10]:
residential_condensed_valid = residential_condensed.loc[residential_condensed['OverallStatus'] != "Invalid",:]

In [11]:
new_df = residential_condensed_valid.loc[residential_condensed_valid["New_Remodel"] == "New",:]
remodel_df = residential_condensed_valid.loc[residential_condensed_valid["New_Remodel"] != "New",:]

In [12]:
new_df["TotalJobValuation"] = np.where(new_df["TotalJobValuation"]>0,new_df["TotalJobValuation"],new_df["TotalValuationRemodel"])
new_df["TotalValuationRemodel"] = 0

C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [13]:
remodel_df["TotalValuationRemodel"]= np.where(remodel_df["TotalValuationRemodel"] == 0,remodel_df["TotalJobValuation"],remodel_df["TotalValuationRemodel"])
remodel_df["TotalValuationRemodel"]= np.where(remodel_df["TotalJobValuation"] >= remodel_df["TotalValuationRemodel"], remodel_df["TotalJobValuation"], remodel_df["TotalValuationRemodel"])
remodel_df["TotalJobValuation"] = 0

C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [14]:
residential_condensed_valid2 = new_df.append(remodel_df, ignore_index=True)

# checkpoint 3

In [15]:
aggregate_table = pd.pivot_table(residential_condensed_valid2,index=["OriginalZip","CalendarYearIssued","Issuedmonth"],
               values=["PermitType","TotalJobValuation","TotalValuationRemodel"],columns=["New_Remodel"],aggfunc={"PermitType":'count',"TotalJobValuation":np.sum,"TotalValuationRemodel":np.sum},fill_value=0)

In [16]:
aggregate_table = aggregate_table.reset_index()

In [17]:
final_df = aggregate_table[['OriginalZip','CalendarYearIssued','Issuedmonth']]
final_df["NewConstructionsCount"] = aggregate_table["PermitType"]["New"]
final_df["RemodelRepairsCount"] = aggregate_table["PermitType"]["Remodel_Repair"]
final_df["NewConstructionDollarValue"] = aggregate_table["TotalJobValuation"]["New"]
final_df["RemodelRepairDollarValue"] = aggregate_table["TotalValuationRemodel"]["Remodel_Repair"]
final_df.columns = final_df.columns.droplevel(1)
final_df["OriginalZip"] = final_df["OriginalZip"].astype(int).astype(str)
final_df.sort_values(['OriginalZip', 'CalendarYearIssued','Issuedmonth'])

C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,OriginalZip,CalendarYearIssued,Issuedmonth,NewConstructionsCount,RemodelRepairsCount,NewConstructionDollarValue,RemodelRepairDollarValue
0,78613,2017,6,0,2,0,10000
1,78617,1996,2,26,0,1593190,0
2,78617,1996,3,6,0,369000,0
3,78617,1996,4,4,1,240000,500
4,78617,1996,5,9,2,613800,1000
5,78617,1996,6,5,0,356000,0
6,78617,1996,7,13,0,934000,0
7,78617,1996,8,7,0,492000,0
8,78617,1996,9,1,0,70000,0
9,78617,1996,10,3,0,210000,0
10,78617,1996,11,3,1,210000,100
11,78617,1996,12,1,0,70000,0
12,78617,1997,1,2,0,140000,0
13,78617,1997,2,1,0,70000,0
14,78617,1997,4,7,1,490000,650
15,78617,1997,5,10,0,581100,0
16,78617,1997,6,10,4,602471,0
17,78617,1997,7,0,1,0,0
18,78617,1997,8,8,0,436933,0
19,78617,1997,9,7,0,294282,0
20,78617,1997,10,2,0,139323,0
21,78617,1997,11,6,0,353016,0
22,78617,1997,12,4,0,348488,0
23,78617,1998,1,0,2,0,1500
24,78617,1998,2,1,3,76232,35100
25,78617,1998,3,6,12,338386,10100
26,78617,1998,4,10,2,415399,500
27,78617,1998,5,7,3,372468,0
28,78617,1998,6,5,4,361961,0
29,78617,1998,7,8,2,449467,500
...,...,...,...,...,...,...,...
9901,78759,2015,12,4,16,876000,669318
9902,78759,2016,1,1,16,50000,141803
9903,78759,2016,2,5,12,1115000,186808
9904,78759,2016,3,2,27,360000,414285
9905,78759,2016,4,6,18,705000,401810
9906,78759,2016,5,3,25,481000,764816
9907,78759,2016,6,3,31,225000,628992
9908,78759,2016,7,2,14,50000,334361
9909,78759,2016,8,7,20,829000,958593
9910,78759,2016,9,1,31,35000,649089
9911,78759,2016,10,4,33,400000,569254
9912,78759,2016,11,4,15,564864,406326
9913,78759,2016,12,2,16,51722,243542
9914,78759,2017,1,3,18,665000,318574
9915,78759,2017,2,3,14,970000,309385
9916,78759,2017,3,4,20,245000,371273
9917,78759,2017,4,2,17,360000,390295
9918,78759,2017,5,5,22,940000,735485
9919,78759,2017,6,4,24,195000,1022731
9920,78759,2017,7,2,15,79000,296314
9921,78759,2017,8,4,19,335000,305962
9922,78759,2017,9,3,18,161000,456090
9923,78759,2017,10,2,23,60000,531661
9924,78759,2017,11,4,25,652000,529215
9925,78759,2017,12,4,21,213000,584248
9926,78759,2018,1,2,24,202000,524219
9927,78759,2018,2,1,26,50000,950656
9928,78759,2018,3,3,24,346225,751465
9929,78759,2018,4,1,27,250000,767822
9930,78759,2018,5,4,23,172000,365025

In [18]:
final_df.to_csv("Construction_Demographics.csv")